* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --gray-700: #0d0d0d;
    --gray-600: #1a1a1a;
    --gray-500: #262626;
    --gray-400: #333333;
    --gray-300: #808080;
    --gray-200: #d9d9d9;
    --gray-100: #f2f2f2;

    --danger: #e25858;

    --purple: #8284fa;
    --purple-dark: #5e60ce;
    --blue: #4ea8de;
    --blue-dark: #1e6f9f;
}

@media (max-width: 992px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 81.25%;
    }
}

body {
    font-family: Inter, sans-serif;
    color: var(--gray-100);
    background: var(--gray-600);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
input {
    font-family: Inter, sans-serif;
}

button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--gray-400);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--purple-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--purple);
}